# Model digests describe exact file bytes; do not normalize their line endings.
*.obj -text
*.mtl -text
*.stl -text
*.json -text
# Preserve third-party source and license bytes; their original whitespace is intentional.
vendor/** -text -whitespace
